services:
  library-service:
    container_name: library-service
    build:
      context: ./PracticalWork.Library
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      App__DbConnectionString: Host=library-service-db;Port=5432;Database=${LIBRARY_POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      App__Redis__RedisCacheConnection: redis:6379
      App__Minio__Endpoint: minio:9000
    depends_on:
      library-service-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy

  reports-service:
    container_name: reports-service
    build:
      context: ./PracticalWork.Reports
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      App__DbConnectionString: Host=reports-service-db;Port=5432;Database=${REPORTS_POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      App__Redis__RedisCacheConnection: redis:6379
      App__Minio__Endpoint: minio:9000
    depends_on:
      reports-service-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy

  library-service-db:
      image: postgres:16
      container_name: library-service-db
      ports:
        - "5433:5432"
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${LIBRARY_POSTGRES_DB}
      volumes:
        - postgres_data:/var/lib/postgresql/data  
      healthcheck:
          test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
          interval: 10s
          timeout: 5s
          retries: 5 

  reports-service-db:
      image: postgres:16
      container_name: reports-service-db
      ports:
        - "5434:5432"
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${REPORTS_POSTGRES_DB}
      volumes:
        - reports_postgres_data:/var/lib/postgresql/data
      healthcheck:
          test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
          interval: 10s
          timeout: 5s
          retries: 5   

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000" 
      - "9001:9001" 
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 30s

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL} 
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD} 
    ports:
      - "5050:80"
    depends_on:
      - library-service-db
      - reports-service-db

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis

volumes:
 postgres_data:
 reports_postgres_data:
 redis_data:
 minio_data:
